<template>
  <div class="container">
    <div class="p-2 row">
      <div class="col-md-6">
        <DxDateBox
          label="Filtra por dia"
          label-mode="floating"
          type="date"
          :value="now"
          :max="now"
          @value-changed="onValueChanged"
          display-format="shortdate"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <DxDataGrid
          display-format="shortdate"
          :data-source="result"
          key-expr="id"
          :columns="columns"
          :show-borders="true"
        >
          <DxGroupPanel :visible="true" />
          <DxSearchPanel
            :width="240"
            placeholder="Buscar por nombre..."
            :visible="true"
            :highlight-case-sensitive="true"
          />
          <DxGrouping :auto-expand-all="false" />
          <DxPager
            :allowed-page-sizes="pageSizes"
            :show-page-size-selector="true"
          />
          <DxPaging :page-size="10" />
        </DxDataGrid>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {
  DxDataGrid,
  DxPager,
  DxPaging,
  DxSearchPanel,
} from "devextreme-vue/data-grid";
import { DxDateBox } from "devextreme-vue/date-box";
export default {
  data: () => ({
    now: new Date(),
    result: [],
    columns: ["Nombre", "Correo", "Tiempo en sesion"],
  }),
  async created() {
    var dateFormat = this.formatDate(this.now);
    this.getUserList(dateFormat);
  },
  components: {
    DxDataGrid,
    DxDateBox,
    DxPager,
    DxPaging,
    DxSearchPanel,
  },
  methods: {
    formatDate(date) {
      let d = new Date(date);
      let month = (d.getMonth() + 1).toString();
      let day = d.getDate().toString();
      let year = d.getFullYear();
      if (month.length < 2) {
        month = "0" + month;
      }
      if (day.length < 2) {
        day = "0" + day;
      }
      return [year, month, day].join("-");
    },
    async getUserList(value) {
      let response = await axios.get(
        `http://127.0.0.1:8000/api/listUser?fecha=${value}`
      );
      this.result = response.data.data;
    },
    onValueChanged(e) {
      var dateFormat = this.formatDate(e.value);
      this.getUserList(dateFormat);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
